<div class="card" style="width: 378px;">
  <img src="https://www.top10berlin.de/sites/top10berlin.de/files/styles/list_image/public/location/mainimages/2014/05/23/fullsize_tadim_top10_jungk_3_0.jpg?itok=gwZprr3r" class="card-img-top" alt="#">
    <div class="card-body">
      <div class="card-body-top">
        <h5 class="card-title">Card title</h5>
        <i class="fas fa-star" style="color:#FFD66B"> <strong> [#] </strong> </i>
      </div>
      <div class="card-body-bottom">
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <h6 class="card-subtitle mb-2 text-muted"> <strong>[#] Kebabs rated </strong> </h6>
      </div>
    </div>
</div>
