<div class="list-group" multiple>
  <%= category.capitalize.pluralize %>:
  <%= f.select("fillings", options_from_collection_for_select(Ingredient.all.select { |ingredient| ingredient.kind == category }, :id, :name, {:class => 'form-control'})) %>
  <%= render 'shared/stars_rating' %>
</div>