<div class="background-main-angled">
  <h1>Find the best kebab near you</h1>
  <div class="form-main">
    <form class="form-inline">
      <input class="form-control" type="search" placeholder="Kottbusser Damm"  aria-label="Search" style="
    z-index: 3">
      <button class="btn-lila-lg" type="submit"><strong>Find</strong></button>
    </form>
  </div>
</div>
<%= image_tag("https://kebabguide.s3.eu-central-1.amazonaws.com/assets/Do%CC%88ner_home.jpg", size: "375x250") %>
