<div class="container">
<div class="row">
  <div class="col sm-3">
    <% @restaurants.each do |restaurant|%>
    <ul>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    </ul>
    <% end %>
    <%# map div below integrate wherever you want when desigining %>
    <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
</div>