<h3>Your Restaurant in details</h3>
<%# just testing result %>
<p> <%= @restaurant.name %></p>
<p> <%= @restaurant.description %></p>
<p> <%= @restaurant.address %></p>

<%= link_to "Rate your Kebab", restaurant_reviews_path(@restaurant), method: :post %>
