.background-main-angled {
  background-color: $red;
  color: white;
  height: 400px;
  width: 375px;
  overflow: visible;
}

.background-main-angled h1 {
  padding-left: 33px;
  padding-top: 130px;
  font-size: 32px;
}

