.btn-red {
  width: 344px;
  height: 50px;
  background-color: $red;
  color: white;
  border-radius: 100px;
  border-width: 0;
  font-size: 24px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-red:hover {
  background-color: $red;
  opacity: 0.7;
}

.btn-lila-lg {
  width: 96px;
  height: 64px;
  color: white;
  border-radius: 0 8px 8px 0;
  border-width: 0;
  font-size: 20px;
  text-decoration: none;
  background-color: #bbb0ff;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  top: -1px;
  position: relative;
}

.btn-lila-lg:hover {
  background-color: #dad0ff;
}

.text-deco {
  text-decoration: none;
  color: white;
}

.text-deco:hover {
  text-decoration: none;
  color: white;
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-box-bottom {
  margin-top: -45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background-color: #dad0ff;
  color: white;
  border-radius: 2px;
  border-top-color: #bbb0ff;
  font-size: 16px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.btn-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  background-color: #dad0ff;
  color: white;
  border-radius: 2px;
  border-top-color: #bbb0ff;
  font-size: 16px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
}


// css to links on review#new
.link {
  color: white;
  margin-top: -1px;
}
.link:hover {
  cursor: pointer;
  color: white;
}

.btn-red input {
  background-color: $red;
  border-width: 0;
  color: white;
}


