.form-main {
  padding-left: 30px;
  padding-top: 30px;
}

.form-control {
  width: 180px;
  height: 64px;
  color: rgb(179, 179, 179);
  font-size: 20px;
  border-radius: 8px 0 0 8px;
  border-width: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 16px;
}

.main-heading {
  font-size: 40px!important;
  line-height: 110%!important;
}

.algolia-places {
  width: 180px;
}

.ap-input-icon {
  opacity: 0%;
}

.searchfield {
  height: 64px;
  display: flex;
  margin-top: 33px;
  margin-left: 33px;
}

.ap-dataset-places {
  font-size: 14px!important;
  color: black;
}

.ap-footer {
  opacity: 0%;
  padding: 0px 0px 0px 0px!important;
  margin: 0px 0px 0px 0px!important;
  line-height: 0px!important;
  height: 0px!important;
}

.ap-suggestion {
  padding-left: 8px!important;
}

.ap-address {
  opacity: 0%;
}

.ap-cursor {
  padding-left: 8px!important;

}
