// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "button";
@import "font";
@import "images";
@import "background-main-angled";
@import "form-home";
@import "cuisines";
@import "toggle";
@import "search-info";
@import "map";
@import "login";
@import "background";
@import "modal";
