.kind{
  padding: 0px 6px 0px 6px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;


  .h3{
    padding: 0px 12px 0px 12px;
  }
}

.kind-bottom {
  margin-bottom: -45px;
  padding: 0px 6px 0px 6px;
  width: 100%;
}
