.line{
  padding: 0px 12px 0px 12px;
  background-color: $red;
  width: 100%;
  height: 5px;
  margin: 0px 0px 16px 0px;
  margin-top: -5px;
}

.search-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  padding-top: 10px;
}

.line-index{
  padding: 0px 12px 0px 12px;
  background-color: $red;
  width: 100%;
  height: 5px;
  margin: 0px 0px 16px 0px;
  margin-top: -5px;
  margin-bottom: -50px;
}
