h1{
    font-size: 24px !important;
    line-height: 0.6 !important;
    font-weight: bold !important;
  }

h2{
    font: Roboto !important;
    font-size: 18px !important;
    font-weight: bold !important;
  }

h3{
    font: Roboto !important;
    font-size: 24px !important;
    font-weight: bold !important;
  }

h4{
    font: Roboto !important;
    font-size: 18px !important;
    font-weight: bold !important;
    padding-bottom: 10px;
  }

p{
    font-size: 16px !important;
  }

.hint{
  padding-top: auto !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  position:absolute; bottom:0;
}

.main{
  background-color: white;

}
