.row {
  display: flex;
  justify-content: center;
}

.product-main {
  display: flex;
  justify-content:center;
}

.img-home {
  position: absolute;
  margin-top: 350px;
  background-size: cover;
  height: auto;
}

