.ratings-overview {
  align-items: inherit ;
  font-size: 18px;
}

.ratings-overview p {
  margin-top: -25px;
}

.background-show {
  background-color: white;
  padding: 50px;
  min-height: 600px;
}

.show-top-info {
  display: flex;
  justify-content: center;
}
