.search-info {
  display: row;
  justify-content: center !important;
  align-items: center;
  background-color: white;
  color: black;
  padding-top: 60px;
  height: 150px;
  margin-top: -50px;
  padding-bottom: -20px;
}

.search-info-details {
  padding-top: 40px;
  display: flex;
  justify-content: center ;
}

.search-info-details h1 {
}

.search-info-details h2 {
  font-size: 16px;
  font-weight: normal;
}

.form {
  display: inline block;
}

.search-info-details-heading {
  display: flex;
  justify-content: center ;
}

.search-info-details-sub-heading {
  display: flex;
  justify-content: center ;
}
