.search-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  padding-top: 10px;
  height: 150px;
  margin-top: -50px;
}

.search-info-details {
  padding-top: 40px;
}

.search-info-details h2 {
  font-size: 16px;
  font-weight: normal;
}

.form {
  display: inline block;
}
