/* The switch - the box around the slider */
.toogle-main {
  display: flex;
  justify-content: center;
  margin-top:-25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 343px;
  height: 50px;
  border-width: 2px;
  border-color: white;
  font-size: 16px;
  font-weight: bold;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.slider:before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "List";
  height: 42px;
  width: 170px;
  left: 4px;
  bottom: 4px;
  background-color: #dad0ff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:after {
  display: flex;
  content: "Map";
  padding: 14px;
  margin-left: 240px;
  justify-content: space-between;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(164px);
  content: "Map";
}

input:checked + .slider:after {
  content: "List";
  margin-left: 55px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50px;
}

.hide-content {
  display: none;
}


