// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';
@import "jquery-bar-rating/dist/themes/css-stars";

// Your CSS partials
@import "components/viewport";
@import "components/list";
@import "components/padding";
@import "components/index";
@import "components/button";
@import "components/kind";
@import "components/profile";
@import "components/review";


@import "pages/index";
@import "pages/show";

@import "components/main";


